<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<body>
    {{>navbar}}


    {{!-- hero section start --}}
    <div class="container-fluid mt-5">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row mt-5">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justfiy-content-center align-items-start flex-column">
                        <h2>WE WILL HELP YOU TO</h2>
                        <H2>GROW YOUR BUSINESS</H2>
                        <P>We are the team of <span class="bold-style"> Professional Developer ✌️</span> </P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>

                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">

                        <figure>
                            <img src="images/front.png" width="320" alt="No img">
                        </figure>
                    </div>


                </div>

            </div>

        </div>
        {{!-- hero section ends --}}


        {{!-- about section start --}}
        {{>about}}
        {{!-- about section ends --}}


        {{!-- service section starts --}}
        {{>service}}
        {{!-- service section ends --}}

        {{!-- maps starts --}}
        {{>maps}}
        {{!-- maps ends --}}

        {{!-- contact starts --}}
        {{>contact}}
        {{!-- contact ends --}}



        <script src="../jq/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
</body>

</html>