<div class="container-fluid mt-5" id="about">

    <div class="row d-flex justify-content-center align-item-center">
          <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
        <div class="col-md-10 col-12 mx-auto d-flex justify-content-center align-item-center">

            <form action="/contact" method="post">
            <span>Name</span>
            <input type="text" name="name" placeholder="Enter details" id="">
            <br>
            <span>Email</span>
            <input type="email" class="mt-3" name="email" placeholder="Enter details" id="">
            <br>
            <span>Phone</span>
            <input type="text" class="mt-3" name="phone" placeholder="Enter details" id="">
            <br>
            <span>Message</span>
            <input type="text" class="mt-3" name="message" placeholder="Enter details" id="">
            <br>

            <button type="submit">Submit</button>
            
            </form>


        </div>

    </div>

</div>